 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Base</h2>
      <img src="{{ '/assets/img/tableauprep.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" /> 
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
      <p>Throughout my work experiences I have stored, organized, update, and worked with different databases to access large data</p>
    </div>
    <div class="tech">
      <h2>Analytics</h2>
      <img src="{{ '/assets/img/tableau-name.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" />
      <img src="{{ '/assets/img/tableauprep.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" /> 
      <img src="{{ '/assets/img/tableauprep.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" /> 
  
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <img src="{{ '/assets/img/tableauprep.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" /> 
      <img src="{{ '/assets/img/tableauprep.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" /> 
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
