 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Base</h2>
      <img src="{{ '/assets/img/excel-icon.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" /> 
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
      <p>I’ve had the opportunity to work hands-on with different types of databases, using tools like Excel, MySQL, and SQL to store, organize, and update large sets of data. The experiences have strengthened my ability to structure data effectively to later transform them to use them.</p>
    </div>
    <div class="tech">
      <h2>Analytics</h2>
      <img src="{{ '/assets/img/excel-icon.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" /> 
      <img src="{{ '/assets/img/tableau-name.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" />
      <img src="{{ '/assets/img/tableauprep.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" /> 
      <img src="{{ '/assets/img/powerbi-color.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" />
      <img src="{{ '/assets/img/cognos-analytics-color.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" />
      <img src="{{ '/assets/img/rstudio-color.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" />
  
      <p>Using tools like Tableau, Tableau Prep, Excel, and Power BI, I’ve turned messy, disconnected data into clear, meaningful stories. Whether building dashboards or prepping data for analysis, my focus is always on creating visuals that not only look great but also help teams make meaningful, actionable, and faster business decisions.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="{{ '/assets/img/powerpoint-color.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" /> 
      <img src="{{ '/assets/img/visual-studio-code-color.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" /> 
      <img src="{{ '/assets/img/github-color.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" />
      <img src="{{ '/assets/img/canva-icon.svg' | prepend: site.baseurl }}" alt="" class="icon" style="width: 75px;" />
      <p>Over the past few years, especially recently, I’ve had the chance to work with tools that go beyond traditional business analytics. Platforms like PowerPoint and Canva have helped me craft presentations and proposals that are clear, polished, and visually compelling. At the same time, tools like Visual Studio Code and GitHub have allowed me to strengthen my coding knowledge. </p>
    </div>
</div>
