<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href= "mailto:garciaoviesvalentina@gmail.com" ><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Tableau" target="_blank" href="https://public.tableau.com/app/profile/valentina.garcia.ovies">
          <img src="{{ '/assets/img/tableau-plain-w.svg' | prepend: site.baseurl }}" alt="" class="icon" aria-hidden="true" />
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#personal" data-scroll>Personal</a>   
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
