<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href= "mailto:garciaoviesvalentina@gmail.com" ><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Tableau" target="_blank" href="https://us-east-1.online.tableau.com/#/site/vgarciaovies23-db306d084a/user/external/vgarciaovies23@my.trine.edu/content"><i class="icon devicon-tableau-plain" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/valentinagarciaovies/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/valentinagarciaovies"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#personal" data-scroll>Personal</a>
        
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
