<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Coffee Chain Analysis Project" src="{{ '/assets/img/Coffe-Chain-Project-Analysis.jpg'| prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> From Sales to Profit - Coffe Chain Analysis </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Converted csv file to xlsx file and cleaned the data using Tableau prep. The goal was to analyzed sales but through bar charts and tree charts realized expenses were eating up sales. Created calculated fields, parameters, actions, target-to-actual bar charts, scatterplots, and map charts and changed the focus from sales analysis to expenses and marketing spent analysis, to come to a solution to maximize and fulfill target profits. </p>
    <a class="project-link" href="https://public.tableau.com/views/CapstoneCoffeChainProjectExtract/THEPROFITILLUSION?:language=en-US&publish=yes&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="International Female Business Owners Project" src="{{ '/assets/img/International-female-business-owners-project.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> International Female Business Owners Analysis</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Combined, cleaned, and edited multiple datasets about international female business owners. Analyzed the numbers of females by country and found out the countries with the most and least business owners. Cross compared the number of male and and females business owners by top 10 economies. Visualized the ranking of female owners change from 2014 to 2022 by country</p>
    <a class="project-link" href="https://public.tableau.com/app/profile/valentina.garcia.ovies/viz/FemaleBusinessOwnersAcrossInternationalCountriesAnalysisExtract/FemaleBusinessOwnersInternationallyAcrossYears?publish=yes">Check it out</a>
  </div> 
</div>
<div class="user-projects">
    <div class="images-right">
      <img alt="Car Sales Analysis Project" src="{{ '/assets/img/Car-sales-cognos-analytics.jpg'| prepend: site.baseurl }}" />
    </div>
    <div class="contents-left">
      <h3> Car Sales Analysis Visualizations </h3>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Analyzed sales, profit by dealer, quantity sold, and models in Cognos Analytics. The goal was also determine what models were showcasing the highest amount of recalls (issues) and the systems affected. </p>
      <a class="project-link" href="{{ '/assets/pdf/Creating-visualizations-using-cognos-analytics.pdf' | prepend: site.baseurl }}">View Report (PDF)</a>
    </div>
</div>
